{{#partial "body"}}
    <h1>SetList</h1>
    <table class="table table-hover" border="3">
        <tr>
            <th>Track name : </th>
            <th>Artist name : </th>
            <th>Album name : </th>
        </tr>
        {{#each this}}
            <tr>
                <td>{{name}}</td>
                <td>{{artistName}}</td>
                <td>{{albumName}}</td>
            </tr>
        {{/each}}
    </table>
{{/partial}}
{{> base}}